<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap-icons/font/bootstrap-icons.css">
    <title>eLibrary</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
@await Component.InvokeAsync("Navbar")
</header>
<main class="container-fluid">
  <div class="row">
  <div class="col-sm-2 col-md-2 bg-light pt-5">
      @await Component.InvokeAsync("Categories")
      </div>
  <div class="album py-5 bg-light col-10 container" style="min-height:40vw;">
        @RenderSection("Detail",false)
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 rows-cols-md-3">
            @RenderBody()
    </div>
    <div class="mt-5 d-flex align-items-end">
    @RenderSection("PageNumber",false)
    </div>
  </div>
  </div>
</main>
    <footer class="bg-dark text-center text-white bd-footer">
        @await Html.PartialAsync("_Footer")
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
  </body>
</html>