@{Layout = "_LayoutNoCategories";}
<form asp-controller="Account" asp-action="ForgotPassword" class="ml-3 row" >
<span class="ml-3 col-5"><label class="text-danger">@ViewBag.Message</label></span>
<div class="col-8">
<div class="mb-3">
<div asp-validation-summary="All" class="text-danger"></div>
  <label  class="form-label">Mailinizi giriniz</label>
  <input class="form-control" name="email">
</div>
<button type="submit" class="btn btn-primary">Sıfırla</button>
</form>