@{Layout="_LayoutNoCategories";}
@model RegisterModel
<form asp-controller="Account" asp-action="Register" method="POST"class="ml-3 row" >
<div class="col-8">
<div class="mb-3">
<div asp-validation-summary="All" class="text-danger"></div>
  <label asp-for="FirstName" class="form-label">İsim</label>
  <input class="form-control" asp-for="FirstName">
</div>
<div class="mb-3">
  <label asp-for="LastName" class="form-label">Soyisim</label>
  <input class="form-control" asp-for="LastName">
</div>
<div class="mb-3">
  <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
  <input class="form-control" asp-for="UserName">
</div>
<div class="mb-3">
 <label asp-for="Password" class="form-label">Şifre</label>
  <input class="form-control" asp-for="Password">
</div>
<div class="mb-3">
 <label asp-for="RePassword" class="form-label">Şifre Doğrulama</label>
  <input class="form-control" asp-for="RePassword">
</div>
<div class="mb-3">
 <label asp-for="Email" class="form-label">Email</label>
  <input class="form-control" asp-for="Email">
</div>
<button type="submit" class="btn-primary" value="Submit">Üye Ol</button>
</div>
</form>
@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}