@{Layout = "_LayoutNoCategories";}
@model RoleModel
<form asp-controller="Admin" asp-action="AddRole" method="POST"class="ml-3 row" >
<div class="col-8">
<div class="mb-3">
  <label asp-for="Name" class="form-label">Rol Adı</label>
  <input class="form-control" asp-for="Name">
</div>
<button type="submit" class="btn btn-primary">Rol Ekle</button>
</form>