@{
    Layout="_LayoutNoCategories";
}
@model IEnumerable<IdentityRole>
<div class="mt-2">
    <a asp-controller="Admin" asp-action="AddRole" class="btn btn-primary mb-2 text-white">Rol Ekle</a>
<table class=" table">
<thead class="">
<tr class="table-bordered">
<th class="col-3">Role Id</th>
<th class="col-5">Role Adı</th>
<th class="col-2"></th> 
@*<th class=""></th>
<th class=""></th>
<th class=""></th>*@
</tr>
</thead>
<tbody>
@if(Model.Count()>0)
{
@foreach(var role in Model)
{
<tr class="table-bordered">
<td class="col-3">@role.Id</td>
<td class="col-5">@role.Name</td>
<td class="col-2"><a class="btn btn-primary mt-5 ml-5" asp-controler="Admin" asp-action="RoleEdit" asp-route-id="@role.Id" role="button">Düzenle</a>
<form asp-controller="Admin" asp-action="DeleteRole" method="POST">
<input type="hidden" value=@role.Name name="name">
<button type="submit" class="btn btn-danger ml-5 mt-3">Sil</button></form></td>
</tr>}
}
</tbody>
</table>
</div>